*{
    padding: 0px;
    margin: 0px;
}

.header{
    width: 100%;
    max-height: 70px;
    padding: 10px 5% 20px 5%;
    box-sizing: border-box; 
    border-bottom: 1px solid black;   
}

.list{
    display: grid;
}

.link{
    text-decoration: none;
    text-transform: none;
    color: rgb(92, 92, 92);
    font-size: 18px;
}
.link:hover{
    color: black;
}


.list__guest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.guest{
    margin-top: 7px;
    width: 100px;
}

.header__auth{
    max-height: 80px;
    div{
        display: flex;
        align-items: center;
        width: 300px;
        justify-content: space-between;
    }
}
.list__auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    width: 40px;
    height: 40px;
    border: 0.1px solid rgb(130, 130, 130);
    border-radius: 100%;
}
.logo{
    width: 150px;
}



