button{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
button{
    border: 0.5px solid black;
    padding: 5px;
    border-radius: 10px;
}
.container{
    padding: 40px 40px 0px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navigate{
    border: 1px solid black;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.nav_btn{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}
.addDash:hover{
    background-color: rgb(189, 255, 189);
}